body {
    width: 100%;
    height: 100%;
}

.deck-select-container {
    width: 100%;
    padding: 2% 3%;
}

.deck-select-table {
    border: none;
    width: 100%;
}

table[class="deck-select-table"] th {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding-right: 50px;
    text-align: start;
}

table[class="deck-select-table"] th.deck-name-th {
    padding-left: 0px;
    width: 100%;
}

table[class="deck-select-table"] td {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding-top: 20px;
}

td.deck-name-td > a {
    text-decoration: none;
    color: black;
    position: relative;
    display: block;
}

td.due-count {
    color: green;
    padding-left: 10px;
    font-weight: 500;
    user-select: none;
}

td.new-count {
    color: blue;
    padding-left: 10px;
    font-weight: 500;
    user-select: none;
}

td.deck-options-button {
    position: inherit;
    background-image: url("../../img/nav-buttons/more_horiz_black_48dp.png");
    background-position: 50px 8px;
    background-size: 90%;
    height: 32px;
    width: 35px;
    right: -18px;
    bottom: -20px;
    padding: 21px 28px;
    transition: all 0.2s;
    cursor: pointer;
}

td.deck-options-button:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

#modal-deck-container {
    display: none;
    position: fixed;
    padding-top: 83px;
    padding-bottom: 112px;
    padding-left: 437px;
    padding-right: 401px;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-deck-btn {
    margin-right: 15px;
}

.modal-deck-title {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.8em !important;
    font-weight: 400 !important;
    clear: both;
}

.modal-deck-text {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.8em !important;
    font-weight: 300 !important;
}

div#modal-deck-container div.container {
    margin-bottom: 25px;
}

#modal-deck-save-btn {
    clear: both;
    position: relative;
    left: -219px;
}

.txt-newCardsPerDay, .txt-maxReviewsPerDay {
    float: left;
}

#modal-deck-input-newCardsPerDay, #modal-deck-input-reviewCardsPerDay {
    background-color: #FCEFE9;
    padding: 5px 5px;
    width: 10%;
    height: 100%;
    margin-left: 93px;
    border: 1px solid rgba(172, 99, 4, 0.979);
}

#modal-deck-input-reviewCardsPerDay {
    margin-left: 62px;
}

#modal-deck-delete-btn {
    clear: both;
    position: relative;
    left: 170px;
}

#modal-addCard-container {
    display: none;
    position: fixed;
    padding-top: 83px;
    padding-bottom: 112px;
    padding-left: 437px;
    padding-right: 401px;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#modal-addCard-front-input, #modal-addCard-back-input {
    margin-bottom: 15px;
    resize: none;
}

#add-card-select-deck {
    margin-left: 15px;
}

#modal-addDeck-container {
    display: none;
    position: fixed;
    padding-top: 83px;
    padding-bottom: 112px;
    padding-left: 437px;
    padding-right: 401px;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#modal-addDeck-save-btn {
    margin-top: 15px;
}