/* CSS File for index.html, login.html, and register.html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../../img/torii.jpg");
    background-repeat: no-repeat;
    background-position: 0px -450px;
    background-size: cover;
} 

.menu-container {
    position: sticky;
    top: 0;
    padding: 5px 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85em;
}

.brand-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    color: white;
    text-decoration: none;
    user-select: none;
}

.login-button {
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    background-color: #309cdb;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-left: 20px;
}

.register-button {
    margin-left: auto;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    background-color: #309cdb;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.login-button:hover,
.register-button:hover {
    background-color:#008ddf;
}

.login-button:active,
.register-button:active {
    background-color:#006ba8;
}

.welcome-container {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.welcome {
    background-color: rgb(252, 239, 233, .8);
    height: 360px;
    width: 1100px;
}

.welcome-geisha {
    display: flex;
    justify-content: center;
}

#welcome-geisha-img {
    height: auto;
    width: 15%;
}

.welcome-msg1 {
    display: flex;
    justify-content: center;
}

#welcome-msg1-txt {
    font-size: 4.5em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
}

.welcome-msg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#welcome-msg2-txt {
    font-size: 3em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
}

.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
    font-size: 4.5em;
    padding: 20px 85px 25px 85px;
    border-radius: 45px;
}

.arrow-container {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

div[class="features"] > p {
    margin: 0px 0px;
}

.features-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 45px;
}

.features-info-box {
    height: 450px;
    width: 1450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature1-container {
    visibility: hidden;
    background-color: #D3EFFF;
    border-radius: 35px;
    height: 400px;
    width: 600px;
}

.feature1-header-box {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

#card-img {
    padding-top: 15px;
    padding-left: 35px;
    resize: both;
}

#feature1-txt {
    font-family: 'Quicksand', sans-serif;
    font-size: 5em;
    letter-spacing: -3px;
    padding-top: 25px;
    padding-right: 55px;
}

div[class="feature1-text"] > p {
    font-size: 1.3em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
    margin: 40px 60px;
    line-height: 35px;
    text-align: justify;
}

.feature2-container {
    visibility: hidden;
    background-color: #D3EFFF;
    border-radius: 35px;
    height: 400px;
    width: 600px;
}

.feature2-header-box {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

#book-img {
    padding-top: 15px;
    padding-left: 35px;
    resize: both;
}

#feature2-txt {
    font-family: 'Quicksand', sans-serif;
    font-size: 5em;
    letter-spacing: -3px;
    padding-top: 25px;
    padding-right: 35px;
}

div[class="feature2-text"] > p {
    font-size: 1.3em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 100;
    margin: 40px 60px;
    line-height: 35px;
    text-align: justify;
}

.footer {
    background-color: rgb(252, 239, 233);
    padding: 10px 20px;
}

div[class="footer"] > p {
    font-size: 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
}

.header-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-text, #register-text {
    font-size: 3em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(255, 22, 22, 0.85);
    width: 400px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    border-radius: 45px;
}

.form-container {
    margin-top: 50px;
    height: 400px;
    display: flex;
    justify-content: center;
}

.form-container-register {
    margin-top: 50px;
    height: 400px;
    display: flex;
    justify-content: center;
}

[class="form-container"] > form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 800px;
}

[class="form-container-register"] > form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
}

#email-login-text, #email-register-text {
    color: white;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-shadow: #006ba8;
}

#email-login, #email-register {
    width: 550px;
    padding: 12px 20px;
    margin-top: 5px;
    margin-left: 117px;
}

#password-login-text, #password-register-text {
    color: white;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#password-login, #password-register {
    width: 550px;
    padding: 12px 20px;
    margin-top: 5px;
    margin-left: 24px;
}

#login-button {
    margin-bottom: 150px;
    margin-left: 650px;
    background-color: #309cdb;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
    border: none;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
}

#login-button:hover {
    margin-bottom: 150px;
    margin-left: 650px;
    background-color: #008ddf;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
    border: none;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}

#login-button:active {
    margin-bottom: 150px;
    margin-left: 650px;
    background-color: #006ba8;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
    border: none;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

#create-button {
    margin-bottom: 150px;
    margin-left: 750px;
    background-color: #309cdb;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
    border: none;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
}

#create-button:hover {
    margin-bottom: 150px;
    margin-left: 750px;
    background-color: #008ddf;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
    border: none;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}

#create-button:active {
    margin-bottom: 150px;
    margin-left: 750px;
    background-color: #006ba8;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
    border: none;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}