
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links.ejs') %>
    <link rel="stylesheet" href="../styles/main-header.css">
    <link rel="stylesheet" href="../styles/about-kanau.css">
</head>
<body>
    <section class="header-container"> <!-- header-container: Contains everything on the top bar | main-header.css -->
        <div class="header">
            <div class="brand-container">
                <a href="decks" class="brand-name">Kanau</p><img src="../../img/logo-transparent-dark.png" class="brand-icon"></a>
            </div>
            <div class="dropdown-container">
                <button class="header-more-button"></button>
                <div class="dropdown-content">
                    <a href="account">Account Settings</a>
                    <a href="decks">Return to decks</a>
                    <a href="index">Logout</a>
                </div>
            </div>
        </div>
    </section>
    <div id="subcontent">
        <div class="columns">
            <div class="column is-full" id="column-title">
                <p id="meet-the-team" class="animate__animated animate__fadeInDown">Meet the Team</p>
                <div class="columns animate__animated is-hidden" id="gabby-container">
                    <div class="column" id="gabby-img-container">
                            <img src="../../img/confidential secrets/me_lol.jpg" alt="Gabby" id="gabby-img">
                    </div>
                    <div class="column" id="gabby-desc-container">
                        <p id="gabby-name">Gabby</p>
                        <p id="gabby-desc">Thanks for using Kanau!
                            As both a computer science undergraduate and striving Japanese learner, 
                            I came up of making this web app to help others simplifiy their language learning path using my method of Flashcard study.
                        </p>
                    </div>
                </div>
                <div class="columns animate__animated is-hidden" id="adrian-container">
                    <div class="column" id="adrian-desc-container">
                        <p id="adrian-name">Adrian</p>
                        <p id="adrian-desc">Hello! I am an undergraduate student of De La Salle University (DLSU) taking the course Bachelor of Science in Computer Science Major in Software Technology. Thank you for using Kanau!
                        </p>
                    </div>
                    <div class="column" id="adrian-img-container">
                        <img src="../../img/confidential secrets/adrian-lol.jpg" alt="Adrian" id="adrian-img">
                </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../script/about-kanau.js"></script>
</body>
</html>