
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links.ejs') %>
    <link rel="stylesheet" href="../styles/main-menu.css">
    <link rel="stylesheet" href="../styles/main-header.css">
    <link rel="stylesheet" href="../styles/main-browse.css">
</head>
<body>
    <section class="header-container"> <!-- header-container: Contains everything on the top bar | main-header.css -->
        <div class="header">
            <div class="brand-container">
                <a href="decks" class="brand-name">Kanau</p><img src="../../img/logo-transparent-dark.png" class="brand-icon"></a>
            </div>
            <form action="#" class="dictionary-container"> 
                <input type="text" name="dictionary-query" id="dictionary-query" placeholder="English, Japanese word">
                <input type="submit" value="" id="dictionary-search-button">
            </form>
            <div class="dropdown-container">
                <button class="header-more-button"></button>
                <div class="dropdown-content">
                    <a href="account">Account Settings</a>
                    <a href="about">About Kanau</a>
                    <a href="index">Logout</a>
                </div>
            </div>
        </div>
    </section>
    <div class="content-container"> <!-- content-container: Everything below the top header menu | main-menu.css -->
        <div class="menu-container">
            <p>Study</p>
            <ul class="animate__animated animate__faster" id="navigation-menu">
               <li><a href="decks">Decks</a></li>
               <li><a href="browse"><strong>Browse</strong></a></li>
               <li><a href="dictionary">Dictionary</a></li>
               <br>
               <li><a href="#" class="subaction" id="addCard-btn">Add card</a></li>
               <li><a href="#" class="subaction" id="filter-options-btn">Filter options</a></li>
            </ul>
            <form action="#" id="filter-form" class="animate__animated animate__faster is-hidden">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-full">
                        <p class="title is-2" id="filter-options-title">Filter options</p>
                    </div>
                    <div class="column is-full">
                        <p class="subtitle is-4">Select Deck</p>
                    </div>
                    <div class="select is-full" id="deck-filter-container">
                        <select name="deck-filter" id="deck-filter">
                            <option value="0001">Essential 1000 Kanji</option>
                            <option value="0002">Core 2K Japanese Vocabulary</option>
                            <option value="0003">Tae Kim Japanese Grammar</option>
                            <option value="0002">JLPT N5 Tango Deck</option>
                            <option value="0003">Personal vocabulary</option>
                        </select>
                    </div>
                    <div class="column is-half">
                        <label class="checkbox" id="added-today-check-container">
                            <input type="checkbox" id="added-today-check">
                            Added today
                        </label>
                    </div>
                    <div class="column is-half">
                        <label class="checkbox" id="review-today-check-container">
                            <input type="checkbox" id="review-today-check">
                            Reviewed today
                        </label>
                    </div>
                    <div class="column is-half">
                        <button form="" id="filter-back-btn" class="button is-warning">←Back</button>
                    </div>
                    <div class="column is-half">
                        <button form="" id="filter-save-btn" class="button is-primary">Filter</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="browse-container">
            <div class="filter-container">
                <form action="#" class="filter-form">
                    <input type="text" placeholder="Filter by word, deck" name="filter-search-box" id="filter-search-box">
                    <button type="submit" class="filter-search-button"></button>
                </form>
            </div>
            <div class="browse-table-container">
                <table id="browse-table">
                    <tr class="browse-table-row-th">
                        <th>Front</th>
                        <th>Back</th>
                        <th>Deck</th>
                        <th class="browse-table-date-th">Due</th>
                    </tr>
                    <tr>
                        <td class="browse-table-front-data">叶う</td>
                        <td>Kanau<br>[to come true (of a wish, prayer, etc.); to be realized; to be fulfilled]</td>
                        <td>Core 2K Japanese Vocabulary</td>
                        <td class="browse-table-date-data">01-May-21</td>
                    </tr>
                    <tr>
                        <td class="browse-table-front-data">開く</td>
                        <td>Aku<br>[to open (a door etc.)]</td>
                        <td>Core 2K Japanese Vocabulary</td>
                        <td class="browse-table-date-data">01-May-21</td>
                    </tr>
                </table>
            </div>
            <div class="browse-edit-container">
                <form action="#" id="browse-edit-form">
                    <div style="display: flex; flex-grow: 1; flex-flow: column; justify-content: center;">
                        <p id="browse-edit-front-txt">Front</p>
                        <textarea id="browse-edit-front-input" placeholder="Edit front content" disabled></textarea>
                    </div>
                    <div style="display: flex; flex-grow: 1; flex-flow: column; justify-content: center;">
                        <p id="browse-edit-back-txt">Back</p>
                        <textarea id="browse-edit-back-input" placeholder="Edit back content" disabled></textarea>
                    </div>
                </form>
                <div id="browse-edit-buttons">
                    <div class="select is-primary">
                        <select form="browse-edit-form" id="browse-edit-select-deck" disabled>
                            <option value="0001">Essential 1000 Kanji</option>
                            <option value="0002">Core 2K Japanese Vocabulary</option>
                            <option value="0003">Tae Kim Japanese Grammar</option>
                            <option value="0002">JLPT N5 Tango Deck</option>
                            <option value="0003">Personal vocabulary</option>
                        </select>
                    </div>
                        <button form="browse-edit-form" id="browse-edit-submit-btn" class="button is-primary" disabled>Save</button>
                        <button form="browse-edit-form" id="browse-edit-delete-btn" class="button is-danger" disabled>Delete</button>
                </div>
            </div>
        </div>
         <div id="modal-addCard-container" class="modal">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add card</p>
                    <button class="delete is-large" aria-label="close" id="modal-addCard-btn-close"></button>
                </header>
                <section class="modal-card-body">
                    <form action="#" id="modal-addCard-form-container">
                        <p class="title is-2 modal-deck-text">Front</p>
                        <textarea name="modal-addCard-front-input" id="modal-addCard-front-input" class="textarea"></textarea>
                        <p class="title is-2 modal-deck-text">Back</p>
                        <textarea name="modal-addCard-back-input" id="modal-addCard-back-input" class="textarea"></textarea>
                        <input type="button" value="Add" class="button is-primary" id="modal-addCard-save-btn">
                        <div class="select is-primary" id="add-card-select-deck-container">
                            <select name="add-card-select-deck" id="add-card-select-deck">
                                <option value="0001">Essential 1000 Kanji</option>
                                <option value="0002">Core 2K Japanese Vocabulary</option>
                                <option value="0003">Tae Kim Japanese Grammar</option>
                            </select>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script src="../script/browse-main.js"></script>
</body>
</html>