
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links.ejs') %>
    <link rel="stylesheet" href="../styles/main-menu.css">
    <link rel="stylesheet" href="../styles/main-header.css">
    <link rel="stylesheet" href="../styles/study-session.css">
</head>
<body>
	<section class="header-container"> <!-- header-container: Contains everything on the top bar | main-header.css -->
        <div class="header">
            <div class="brand-container">
                <a href="decks" class="brand-name">Kanau</p><img src="../../img/logo-transparent-dark.png" class="icon"></a>
            </div>
            <form action="#" class="dictionary-container"> 
                <input type="text" name="dictionary-query" id="dictionary-query" placeholder="English, Japanese word">
                <input type="submit" value="" id="dictionary-search-button">
            </form>
            <div class="dropdown-container">
                <button class="header-more-button"></button>
                <div class="dropdown-content">
                    <a href="account">Account Settings</a>
                    <a href="about">About Kanau</a>
                    <a href="index">Logout</a>
                </div>
            </div>
        </div>
    </section>
    <div class="content-container">
        <div class="menu-container">
            <p>Study</p>
            <ul>
               <li><a href="/decks"><strong>Decks</strong></a></li>
               <li><a href="/browse">Browse</a></li>
               <li><a href="/dictionary">Dictionary</a></li>
               <br>
               <li><a href="#" class="subaction">Add card</a></li>
               <li><a href="#" class="subaction">Create deck</a></li>
            </ul>
        </div>
        <div class="subcontent-container">
        	<div class="name-container">
				<div class="deck-name" id="deck-name"><a href="#"><%=deckName%></a></div>
        	</div>
                <div class="animate__animated flashcard">
                    <div class="card-front">
                        <div class="front-word" id="front-word">LOADING...</div>
                        <div class="front-footer">Click flashcard to flip</div>
                    </div>
                    <div class="card-back">
                            <div class="back-word" id="back-word"></div>
                            <br>
                            <div class="back-definition" id="back-definition"></div>
                            <div class="back-footer">Click flashcard to flip</div>
                    </div>
                </div>
	        <div class="animate__animated" id="btn-container">
	        	<button class="buttons" id="pass-btn">PASS</button>
                <p class="subtitle is-4 is-red" id="review-count">...</p>
	        	<button class="buttons" id="fail-btn">FAIL</button>
	        </div>
            <div class="animate__animated is-hidden" id="study-complete-msg-container">
                <p class="title" id="msg-1">Congratulations! You have finished this deck for now.</p>
                <p class="subtitle" id="msg-2">You may continue studying other decks, or add new flashcards.
                    <br>You may also increase the daily maximum cards for review for this deck. 
                </p>
            </div>
        </div>
    </div>
    <script src="../script/study-session.js"></script>
</body>
</html>