#return-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
    margin-left: 20px;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.error-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-msg1 {
    font-size: 8em;
}

.error-msg2 {
    font-size: 2em;
}

.error-msg3 {
    margin-top: 5%;
    font-size: 1.5em;
}